body {
	background-color: rgb(200, 200, 200);
	width: 100%;
	margin: 0;
	padding: 0;
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;; 
	grid-template-rows: minmax(5em, auto) minmax(14em,auto) repeat(2,minmax(6em,auto)) minmax(2em, auto);
	grid-row-gap: 1em;
	grid-column-gap: 1em;
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;

	grid-column: 1/end;
	grid-row: 1/2;

	background-color: rgb(90, 90, 196);
	color: aliceblue;
	font-variant: bold;
	font-size: 5em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.question {
	display: flex;
	align-items: center;
	justify-content: center;

	grid-column: 1/end;
	grid-row: 1/2;

	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	font-family: sans-serif;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 5px #888888;
}
.answer {
	display: flex;
	align-items: center;
	justify-content: center;
	
	text-align: center;
	font-size: 1.2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	background-color: white;
	box-shadow: 0px 8px 5px #888888;
}
.answer:hover {
	background-color: aliceblue;
}
#answer1 {
	grid-column: 1/7;
	grid-row: 2/3;
}
#answer2 {
	grid-column: 7/13;
	grid-row: 2/3;
}
#answer3 {
	grid-column: 1/7;
	grid-row: 3/4;
}
#answer4 {
	grid-column: 7/13;
	grid-row: 3/4;
}

