.question-list {
    display: inline;
    padding: 0;
}
.question-list > li {
    background-color: white;
    border: 1px solid black; 
    display: block;
}
.question-wrapper  {
    display: block;
}
.correct-answer-wrapper {
    display: block;
}
.incorrect-answer-wrapper {
    display: block;
}
.answer-list {
    display: inline;
    padding: 0;
}
.answer-list * {
    display: inline;
}
.correct-answer-label {
    display: block;
}
